.normaltext {
	FONT-FAMILY: Verdana; COLOR: #333333; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.normalLeft {
	PADDING-BOTTOM: 2px; MARGIN: 5px; FONT-FAMILY: Verdana; COLOR: #333333; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.maintext {
	TEXT-ALIGN: justify; PADDING-BOTTOM: 2px; MARGIN: 2px; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.maintext10 {
	TEXT-ALIGN: justify; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.EmergencyAlert {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #ffcc33; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.maintextHEADING {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.mouseover {
	COLOR: #006699; TEXT-DECORATION: none
}
.mouseover:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.header {
	PADDING-BOTTOM: 5px; MARGIN: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.headerBg {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #8bdee4; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.headerPlain {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #ddf4f7; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; PADDING-TOP: 0px
}
.Buttom {
	PADDING-LEFT: 10px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 12px
}
.line {
	LETTER-SPACING: 2px
}
A:visited {
	COLOR: #003366
}
DIV.box {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 10px; FONT-STYLE: normal; PADDING-LEFT: 10px; WIDTH: 150px; PADDING-RIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: black 1px solid; PADDING-TOP: 10px
}
.normalLeftBold {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ddf4f7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.maintextBdColor {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.normalLeftBL {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ddf4f7; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.menulist {
	TEXT-ALIGN: right; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #333333; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.fotofeature {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #009999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffff66; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.mainlist {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #bbecdc; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.arrow {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1d7896; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.mouseoverR {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.mouseoverR:hover {
	COLOR: #00ffff; TEXT-DECORATION: none
}
.mainlistN {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #baebef; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.ESD08headerBg {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; BACKGROUND-COLOR: #ff0000; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.ESDArtheaderBg {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; BACKGROUND-COLOR: #33cc66; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.sublistmenu {
	TEXT-ALIGN: right; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #83cfa7; MARGIN: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 8px; FONT-FAMILY: Verdana; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.sublistmenuitem {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #cdebda; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 8px; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 10px; PADDING-TOP: 0px
}
.saarcover {
	BACKGROUND-COLOR: #009900; COLOR: #ffff00; TEXT-DECORATION: none
}
.saarcover:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.saarc {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; BACKGROUND-COLOR: #339900; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #ffff00; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.headerBgReverse {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #cccccc; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #003366; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.normaltextindent10 {
	PADDING-BOTTOM: 0px; TEXT-INDENT: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana; COLOR: #333333; FONT-SIZE: 10px; WORD-SPACING: normal; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.PYmenu {
	TEXT-ALIGN: right; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #006699; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #e7f3fa; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.PYsm {
	BORDER-BOTTOM: #afd1ed 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #e7f3fa; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #006699; FONT-SIZE: 10px; PADDING-TOP: 2px
}
.alertness {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff9900; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.alertnessNo {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff9900; FONT-SIZE: 24px; FONT-WEIGHT: bold
}
.sign {
	FONT-FAMILY: Webdings
}
.BoldHighlight {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.IKHeading {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ff9900; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.IKmouseover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.PYsmB {
	BORDER-BOTTOM: #afd1ed 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #e7f3fa; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.maintextBdColorL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 2px 2px 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; WORD-SPACING: normal; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.normalbullet {
	LIST-STYLE-POSITION: outside; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: circle; FONT-FAMILY: Verdana; WHITE-SPACE: normal; COLOR: #333333; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.normalbulletB {
	LIST-STYLE-POSITION: outside; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LIST-STYLE-TYPE: circle; TEXT-INDENT: -7px; PADDING-LEFT: 15px; FONT-FAMILY: Verdana; COLOR: #006699; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.mouseoverblack {
	COLOR: #000000; TEXT-DECORATION: none
}
.mainlistback {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.normalLeftESD {
	PADDING-BOTTOM: 2px; MARGIN: 5px; FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 10px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.PYsmBESD {
	BORDER-BOTTOM: #996600 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ff6600; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
.ESDheaderBgCtr {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; BACKGROUND-COLOR: #bb0000; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; BACKGROUND-POSITION: center center; COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.openclose {
	TEXT-ALIGN: right; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana; COLOR: #003366; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 1px
}
