.tab-nav-active {
	list-style: none; margin: 0px; padding: 0px; float: left; display: block;
}
.tab-nav-active li {
	border-width: 1px 1px 2px; border-style: solid; border-color: rgb(153, 153, 153); margin: 1px 1px 0px 0px; padding: 0px; top: 4px; float: left; display: block; position: relative; background-image: url("/template/widgets/tabs/tabs-nav.png"); background-repeat: repeat-x; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.tab-nav-active li:hover {
	background-image: none;
}
.tab-nav-active li a:hover {
	color: rgb(0, 0, 0);
}
.tab-nav-active li a:focus {
	outline-width: medium; outline-style: none;
}
.tab-nav-active li.selected {
	border-width: 2px 2px 3px; border-style: solid; border-color: rgb(119, 119, 119) rgb(119, 119, 119) rgb(255, 255, 255); top: 2px; margin-right: 2px; margin-left: 2px; z-index: 15; background-image: none; background-color: rgb(255, 255, 255); -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; -webkit-border-radius-topleft: 8px; -webkit-border-radius-topright: 8px;
}
.tab-nav-active li:first-child {
	margin-left: 5px;
}
.tab-nav-active li a {
	margin: 0px; padding: 4px 8px 0px; text-align: center; color: rgb(0, 0, 0); text-decoration: none; display: block;
}
.tab-nav-active li.selected a {
	color: rgb(51, 51, 51); padding-top: 4px; padding-bottom: 0px; font-weight: bold;
}
.tab-content-wrapper-active {
	margin: 0px; padding: 5px 0px; clear: left; border-top-color: rgb(119, 119, 119); border-top-width: 2px; border-top-style: solid; position: relative; z-index: 10;
}
.column .tab-content-wrapper-active {
	
}
.selected.tab-content-active {
	display: block;
}
.hidden.tab-content-active {
	display: none;
}
