a {
	font-style: inherit;
}
a {
	-moz-outline-style: none;
}
a:active {
	-moz-outline-style: none;
}
a:focus {
	-moz-outline-style: none;
}
.ui-ie7 a {
	line-height: inherit;
}
:focus {
	-moz-outline-style: none;
}
.ui-hidden {
	display: none;
}
.ui-offscreen {
	left: -20000px !important; top: -20000px !important; display: block !important; position: absolute !important;
}
.ui-box-sizing {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.ui-transparent {
	background-color: transparent;
}
.ui-ie .ui-transparent {
	background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}
.ui-ie9 .btn {
	border-radius: 4px; filter: none !important;
}
.ui-ie10 .btn {
	border-radius: 4px; filter: none !important;
}
.ui-ie9 .btn {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAIAAACCKmkKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABcSURBVHjaZE9BDsAgDCL9/5th0tE544HYEgpYkgoLAgoLmpnKzt5HR22ewuZ817eZqe9uAGFrYC6+SKb9wr9+s9+Ae3XOdODZhfzp2bp+nQn2/w4/pJ87U48AAwCxn5biuZfIsQAAAABJRU5ErkJggg==") repeat-x left top white; padding-top: 6px;
}
.ui-ie9 .btn-primary {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAIAAACCKmkKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABnSURBVHjadFDbEYAwCIuc+0/gZs7SxBSw9scPLo9C4BrndYeEOKRGGBVgcyNorUZ+qKVncePVo21Oo/LerNw1fXXPKmuo7gHrBmP6YvrAcLY5yvstbDz76X3F863n8w6w/2Dm8xFgAO/aeGs8nNK3AAAAAElFTkSuQmCC");
}
.ui-ie9 .info.btn {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAIAAACCKmkKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABpSURBVHjaTE7bFYBQCELXbNkmaRTIB3XuhwdREPO6n5SUAhKNX6GKKGShkudOTHqG6VHFnZ+aRi5v/dz0TsKB2mxgeEzPRPPyhf+B89oHrh++h9Jhft59Y/iX0ZD27iyc/fu/fnL4CjAArEOnuvVKESoAAAAASUVORK5CYII=");
}
.ui-ie9 .success.btn {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAIAAACCKmkKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABdSURBVHjaXE/bDcBACEJHvVk7l/R8N/0wGARFPc9REgrcIguhLGyOtjPnGCUqro1++dRgOJRm/MDoXCPY+T8LwU+e7i9aYXstNbl3c7Rv+PjFb3J+JLeP27BXgAEAvlZmr9wzvz4AAAAASUVORK5CYII=");
}
.ui-ie9 .danger.btn {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAIAAACCKmkKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABvSURBVHjaTE9BEsNACEK/2UP+f+kPClF0kx4YFER383t9UkJCSkKJglhw3zqT6p6lo2qO5770mv9pMiQ91zlx5w4XcLyd76zrvg+ahYOYtxTr4fG8I2L2mkuLzSns91/ag714c3rz+N+3N1a7BRgAP8t+oPWDO2UAAAAASUVORK5CYII=");
}
.ui-ie9 .btn:hover {
	background-position: 0px -15px;
}
.ui-ie8 .btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6',endColorstr='#d0d0d0',GradientType=0);
}
.ui-ie7 .btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6',endColorstr='#d0d0d0',GradientType=0);
}
.ui-ie8 .btn-primary:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0064cd',endColorstr='#0042ab',GradientType=0);
}
.ui-ie7 .btn-primary:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0064cd',endColorstr='#0042ab',GradientType=0);
}
.ui-ie8 .info.btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339bb9',endColorstr='#117997',GradientType=0);
}
.ui-ie7 .info.btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339bb9',endColorstr='#117997',GradientType=0);
}
.ui-ie8 .success.btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57a957',endColorstr='#358735',GradientType=0);
}
.ui-ie7 .success.btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57a957',endColorstr='#358735',GradientType=0);
}
.ui-ie8 .danger.btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c43c35',endColorstr='#a21a13',GradientType=0);
}
.ui-ie7 .danger.btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c43c35',endColorstr='#a21a13',GradientType=0);
}
table {
	margin-bottom: 0px;
}
img {
	max-width: 5000px;
}
a.btn {
	color: rgb(51, 51, 51);
}
.hover.btn-primary {
	background-color: rgb(230, 230, 230);
}
.ui-ajax-loading {
	background: url("images/ajax.gif") no-repeat center !important;
}
.ui-ajax-loading-error {
	padding: 30px; text-align: center; color: rgb(68, 68, 68); font-weight: bold;
}
.ui-ajax-button {
	display: inline-block;
}
.activated.ui-ajax-button {
	background: url("images/ajax.gif") no-repeat 0px; padding-left: 18px;
}
.ui-test-scrollbar {
	left: -1000px; top: -1000px; width: 100px; height: 50px; overflow: hidden; position: absolute;
}
.basic-alert-wrapper {
	left: 0px; width: 98%; text-align: center; display: none; position: fixed; z-index: 50003;
}
.top.basic-alert-wrapper {
	top: 5px;
}
.bottom.basic-alert-wrapper {
	bottom: 5px;
}
.basic-alert-wrapper .alert {
	padding-right: 25px; margin-bottom: 0px; display: inline-block; position: relative; max-width: 90%;
}
.ui-ie7 .basic-alert-wrapper .alert {
	display: inline; zoom: 1;
}
.basic-alert-wrapper .alert .close {
	top: 8px; right: 6px; float: none; position: absolute;
}
.basic-alert-wrapper .alert p {
	margin: 0px; padding: 0px;
}
.ui-ie9 .alert-message {
	border-radius: 4px;
}
.ui-ie10 .alert {
	border-radius: 4px;
}
.ui-ie .alert {
	filter: none !important;
}
.ui-ie9 .error.alert {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAIAAADaE/fjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABESURBVHjaVI07DsAwDEIR1+zQ+y85wqN20qjNYPExAo/7ciJLKXxPKmRyttearWXA6O9//+bK6aWzrDzVr6N77j0CDABFIVp8A9VLpQAAAABJRU5ErkJggg==");
}
.ui-ie9 .success.alert {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAIAAADaE/fjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABDSURBVHjaXI1RCsAwDEJfPWrPunPFSkjH2IdoRI32s4WRcXiJZgLH49VEu4LP3T3fPKrxV7lz3S//tmaD+XE75ggwAESgMJ/1QQo0AAAAAElFTkSuQmCC");
}
.ui-ie9 .info.alert {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAIAAADaE/fjAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABESURBVHjabI3BDcAwDAIRa3bZTNJRjji12khRHwh8FravcTtJSZbaIxxiiuvZdW7H4p0xbL46kYrxdVY+b/ypfk8BBgBR6VvQqoWJVAAAAABJRU5ErkJggg==");
}
.ui-ie9 .warning.alert {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAIAAACCKmkKAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABrSURBVHjaTI/REcAwCEKJ+y/VhTpBCxWNvXx4mCeYJJ77CkEBIWAFs7KnknPPRo/eM7Iy+jmbq73C2xl7xjt70Pt972jvsq5kqHeInq/mWTTXCjpX1d7pOaz2Or/n3OftweHB8Pp3sU+AAQDIa268O/d8pwAAAABJRU5ErkJggg==");
}
.ui-ie7 .alert {
	display: inline !important; zoom: 1;
}
.ui-autocomplete {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(136, 136, 136); list-style: none; margin: 0px; border-radius: 0px 6px 6px; padding-top: 5px; padding-bottom: 5px; display: inline-block; position: absolute; z-index: 2000; min-width: 450px; box-shadow: 0px 7px 12px -1px #999; background-color: white; -moz-border-radius: 0 6px 6px 6px; -webkit-border-radius: 0 6px 6px 6px; -moz-box-shadow: 0 7px 12px -1px #999; -webkit-box-shadow: 0 7px 12px -1px #999;
}
.ui-ie7 .ui-autocomplete {
	padding-top: 0px; padding-bottom: 0px;
}
.ui-ie8 .ui-autocomplete {
	padding-top: 0px; padding-bottom: 0px;
}
.ui-autocomplete li {
	padding: 3px 8px; color: rgb(68, 68, 68); display: block; cursor: pointer;
}
.ui-autocomplete li.ui-autocomplete-selection {
	background-color: rgb(224, 224, 224);
}
.ui-autocomplete li.ui-autocomplete-selection:hover {
	background-color: rgb(224, 224, 224);
}
.ui-autocomplete li:hover {
	background-color: rgb(244, 244, 244);
}
.btn {
	border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179); padding: 4px 12px; border-radius: 4px; text-align: center; color: rgb(51, 51, 51); line-height: 20px; font-size: 14px; margin-bottom: 0px; vertical-align: middle; display: inline-block; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); cursor: pointer; background-repeat: repeat-x; background-color: rgb(245, 245, 245); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
	background-position: 0px -15px; color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); -webkit-transition: background-position .1s linear; -moz-transition: background-position .1s linear; -o-transition: background-position .1s linear; transition: background-position .1s linear;
}
.btn-primary {
	border-color: rgb(17, 85, 123); color: white; background-color: rgb(16, 108, 143);
}
.btn-primary:hover {
	color: white; background-color: rgb(16, 108, 143);
}
[disabled].btn {
	cursor: default; opacity: 0.6; background-image: none;
}
[disabled].btn:hover {
	cursor: default; opacity: 0.6; background-image: none;
}
[disabled].btn-primary:hover {
	background-color: rgb(16, 108, 143);
}
.ui-carousel {
	display: block; position: relative;
}
.ui-carousel-ul-wrapper {
	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.ui-carousel ul {
	list-style: none !important; margin: 0px !important; padding: 0px; top: 0px; height: 100%; position: absolute;
}
.ui-ie7 .ui-carousel ul {
	left: 0px; display: inline;
}
.ui-carousel li {
	margin: 0px; padding: 0px; height: 100%; float: left; display: block;
}
.ui-ie7 .ui-carousel li {
	display: inline; zoom: 1;
}
.ui-carousel img {
	vertical-align: bottom;
}
.ui-carousel-no-arrow .ui-carousel-pn {
	display: none;
}
.ui-carousel-pn {
	padding: 0px; border-radius: 16px; width: 24px; height: 24px; text-align: center; color: white; line-height: 25px; font-family: monospace; font-size: 18px; position: absolute; cursor: pointer; background-color: rgb(136, 136, 136); -moz-border-radius: 16px; -webkit-border-radius: 16px;
}
.ui-carousel-pn:hover {
	background-color: rgb(85, 85, 85);
}
.ui-carousel-prev {
	left: -24px; width: 22px; padding-right: 2px;
}
.ui-carousel-next {
	width: 20px; right: -24px; padding-left: 4px;
}
.ui-clipboard-button-wrapper {
	display: inline-block; position: relative;
}
.ui-clipboard-button-flash {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.ui-date-picker {
	background: 0px; margin: 0px; padding: 0px; border: 0px currentColor; width: auto; height: auto; text-align: left; text-decoration: none;
}
.ui-date-picker * {
	background: 0px; margin: 0px; padding: 0px; border: 0px currentColor; width: auto; height: auto; text-align: left; text-decoration: none;
}
.ui-date-picker {
	margin: -1px 0px 0px; padding: 5px; border: 1px solid rgb(136, 136, 136); display: none; position: absolute; z-index: 100000; box-shadow: 4px 4px 10px #888; background-color: rgb(232, 232, 232);
}
.ui-date-picker .nav {
	width: 17.5em;
}
.ui-date-picker .month-nav {
	margin: 0px 0px 3px; padding: 0px; text-align: center; display: block; position: relative;
}
.ui-date-picker .year-nav {
	margin: 0px 0px 3px; padding: 0px; text-align: center; display: block; position: relative;
}
.ui-date-picker .month-nav {
	width: 55%; float: left;
}
.ui-date-picker .year-nav {
	width: 35%; margin-right: -8px; float: right;
}
.ui-date-picker .month-name {
	line-height: 20px; font-weight: bold;
}
.ui-date-picker .year-name {
	line-height: 20px; font-weight: bold;
}
.ui-date-picker .button {
	top: 1px; width: 18px; height: 18px; text-align: center; color: rgb(0, 60, 120); line-height: 17px; overflow: hidden; font-size: 120%; font-weight: bold; display: block; position: absolute;
}
.ui-date-picker .button:hover {
	background: 0px; border-color: rgb(204, 204, 204); color: rgb(0, 60, 120); cursor: pointer;
}
.ui-date-picker .hover.button {
	background: 0px; border-color: rgb(204, 204, 204); color: rgb(0, 60, 120); cursor: pointer;
}
.ui-date-picker .prev {
	left: 0px;
}
.ui-date-picker .next {
	right: 0px;
}
.ui-date-picker table {
	clear: both; border-collapse: collapse; border-spacing: 0;
}
.ui-date-picker th {
	padding: 0px; width: 2.5em; height: 2em; text-align: center; color: black;
}
.ui-date-picker td {
	padding: 0px; width: 2.5em; height: 2em; text-align: center; color: black;
}
.ui-date-picker td {
	background: white; border: 1px solid rgb(204, 204, 204); text-align: center; color: rgb(0, 60, 120); line-height: 2em; white-space: nowrap;
}
.ui-date-picker td.today {
	background: rgb(255, 254, 179);
}
.ui-date-picker td.unselected-month {
	color: rgb(204, 204, 204); cursor: default;
}
.ui-date-picker td.selectable-day {
	cursor: pointer;
}
.ui-date-picker td.selected {
	background: rgb(216, 223, 229); font-weight: bold;
}
.ui-date-picker td.selectable-day:hover {
	background: rgb(0, 60, 120); color: white;
}
.ui-date-picker td.hover.selectable-day {
	background: rgb(0, 60, 120); color: white;
}
.ui-date-picker .year-name {
	padding: 0px; width: 50px; text-align: center; color: black; display: inline-block; box-shadow: none; background-color: white;
}
.ui-editing table {
	border: 1px dashed rgb(68, 68, 68) !important;
}
.ui-editing table td {
	border: 1px dotted rgb(136, 136, 136);
}
.ui-editor-table-wrapper {
	position: relative;
}
.ui-editor-table-toolbar {
	left: 0px; top: 0px; position: absolute;
}
.ui-editor-table-toolbar button span {
	display: none;
}
.ui-editor-table-wrapper table {
	width: 200px; height: 100px;
}
.ui-editor-special-char table {
	padding: 5px; font-family: monospace; font-size: 20px; border-collapse: separate; border-spacing: 4px;
}
.ui-editor-special-char table td {
	padding: 5px; cursor: pointer;
}
.ui-editor-special-char-zoom {
	margin: 15px; border: 2px solid black; width: 100px; height: 155px; position: relative; background-color: rgb(250, 250, 250);
}
.ui-editor-special-char-display {
	padding: 10px; text-align: center; line-height: 110px; font-family: sans-serif; font-size: 75px;
}
.ui-editor-special-char-name {
	padding: 5px; width: 90px; text-align: center; bottom: 0px; font-family: sans-serif; font-size: 13px; font-weight: normal; position: absolute; background-color: rgb(238, 238, 238);
}
.ui-form {
	padding: 15px 15px 0px;
}
.ui-form .control-group {
	padding: 5px; clear: both; margin-bottom: 0px;
}
.ui-form .error.control-group {
	margin: 0px;
}
.ui-form .help-inline {
	color: rgb(152, 152, 152); padding-right: 10px; padding-left: 10px;
}
.ui-form .required-msg {
	padding: 0px 0px 0px 4px; top: 2px; color: rgb(255, 102, 102); font-family: courier new,monospace; font-size: 19px; font-weight: bold; position: relative; text-shadow: 0 0 5px #666;
}
.form-required-info {
	padding: 10px; text-align: center; color: rgb(102, 102, 102); clear: both; font-size: 0.9em;
}
.form-required-info .required-msg {
	top: 3px; padding-right: 10px;
}
.form-message {
	padding: 10px; text-align: center; color: rgb(170, 0, 0); font-weight: normal; display: none; background-color: rgb(238, 221, 221);
}
.form-ajax-loader {
	position: absolute;
}
.ui-form .actions .btn {
	margin-right: 5px;
}
.ui-form label.last {
	margin-bottom: 10px;
}
.ui-form-inline-wrapper .ui-form {
	padding: 0px; margin-top: 15px;
}
.ui-form-inline-wrapper legend {
	margin: -4px 0px 0px 10px; border: 0px currentColor; width: auto; padding-right: 6px; padding-left: 6px; font-size: 1.4em; display: inline; background-color: transparent;
}
.ui-form .control-group {
	clear: both;
}
.ui-form .form-actions {
	margin: 0px; padding: 15px; border-radius: 0px 0px 4px 4px; text-align: right; position: relative; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
}
.ui-form .form-actions .btn {
	margin-right: 4px;
}
.ui-form .control-group-right > label {
	width: auto; padding-left: 10px;
}
.ui-form .control-group-right .controls {
	float: left;
}
.ui-form-modal-date-picker {
	box-shadow: none;
}
.form-horizontal.ui-form label {
	float: left;
}
.form-horizontal.ui-form .controls {
	margin-left: 180px;
}
textarea {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='text'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='password'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='datetime'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='datetime-local'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='date'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='month'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='time'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='week'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='number'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='email'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='url'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='search'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='tel'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
input[type='color'] {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
.uneditable-input {
	padding: 4px 6px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); height: 20px; color: rgb(85, 85, 85); line-height: 20px; font-size: 14px; vertical-align: middle; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-color: rgb(255, 255, 255); transition: border .2s linear 0s, box-shadow .2s linear 0s;
}
textarea:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='text']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='password']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='datetime']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='datetime-local']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='date']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='month']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='time']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='week']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='number']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='email']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='url']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='search']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='tel']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
input[type='color']:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
.uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8); outline: 0px;
}
.ui-form input.span6 {
	width: 446px;
}
.ui-form textarea.span6 {
	width: 446px;
}
.ui-form input.span5 {
	width: 366px;
}
.ui-form textarea.span5 {
	width: 366px;
}
.ui-form input.span3 {
	width: 210px;
}
.ui-form textarea.span3 {
	width: 210px;
}
.ui-imagemap-wrapper {
	display: inline-block; position: relative;
}
.ui-imagemap-div {
	border: 1px solid black; display: block; position: absolute; opacity: 0.25; background-color: yellow;
}
.ui-ie7 .ui-imagemap-div {
	filter: alpha(opacity=25);
}
.ui-ie8 .ui-imagemap-div {
	filter: alpha(opacity=25);
}
.hidden.ui-imagemap-div {
	filter: alpha(opacity=0) !important; opacity: 0 !important;
}
.ui-image-slide {
	display: block; position: relative;
}
.ui-image-slide-ul-wrapper {
	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.ui-image-slide ul {
	list-style: none; margin: 0px; padding: 0px; top: 0px; height: 100%; display: table; position: absolute;
}
.ui-ie7 .ui-image-slide ul {
	display: inline;
}
.ui-image-slide li {
	margin: 0px; padding: 0px; height: 100%; vertical-align: middle; display: table-cell;
}
.ui-ie7 .ui-image-slide li {
	display: inline; zoom: 1;
}
.ui-image-slide img {
	vertical-align: bottom;
}
.ui-image-slide-pn {
	top: 0px; width: 5%; height: 100%; text-align: center; display: block; position: absolute;
}
.ui-ie .ui-image-slide-pn {
	background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}
.ui-image-slide-pn span {
	padding: 10px; left: 0px; color: black; line-height: 60px; font-family: courier new,monospace; font-size: 45px; font-weight: bold; visibility: hidden; position: absolute; cursor: pointer; opacity: 0.8; background-color: rgb(255, 255, 170);
}
.ui-ie7 .ui-image-slide-pn span {
	filter: alpha(opacity=80);
}
.ui-ie8 .ui-image-slide-pn span {
	filter: alpha(opacity=80);
}
.ui-image-slide-pn:hover span {
	visibility: visible;
}
.ui-image-slide-prev {
	left: 5px;
}
.ui-image-slide-prev span {
	border-radius: 8px 0px 0px 8px; -moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px;
}
.ui-image-slide-next {
	right: 5px;
}
.ui-image-slide-next span {
	border-radius: 0px 8px 8px 0px; -moz-border-radius: 0 8px 8px 0; -webkit-border-radius: 0 8px 8px 0;
}
.ui-image-slide-title {
	left: 10px; top: 10px; font-size: 25px; display: none; position: absolute;
}
.ui-image-slide-caption {
	padding: 10px; border: 10px currentColor; left: 0px; bottom: 0px; color: white; display: none; position: absolute; background-color: rgba(0, 0, 0, 0.7);
}
.ui-ie7 .ui-image-slide-caption {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.ui-ie8 .ui-image-slide-caption {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.ui-image-slide-shortcuts {
	left: 5px; bottom: 5px; display: none; position: absolute; z-index: 10;
}
.ui-image-slide-shortcuts span {
	border-radius: 12px; border: 2px solid rgb(238, 238, 238); width: 20px; height: 20px; text-align: center; color: white; line-height: 19px; font-family: tahoma,verdana,sans-serif; font-size: 11px; font-weight: bold; margin-right: 5px; display: inline-block; cursor: pointer; background-color: rgba(0, 0, 0, 0.7); -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.ui-ie7 .ui-image-slide-shortcuts span {
	display: inline; zoom: 1;
}
.ui-ie7 .ui-image-slide-shortcuts span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.ui-ie8 .ui-image-slide-shortcuts span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.ui-image-slide-shortcuts span:hover {
	background-color: rgb(0, 0, 0);
}
.ui-image-slide-selected {
	color: rgb(0, 0, 0) !important; cursor: default !important; background-color: rgb(153, 153, 153) !important;
}
.ui-ie .ui-image-slide-selected {
	filter: none !important;
}
.ui-image-slide-selected.ui-image-slide-shortcuts span:hover {
	color: rgb(0, 0, 0) !important; background-color: rgb(153, 153, 153) !important;
}
.block-message-wrapper {
	width: 98%; text-align: center; visibility: hidden; position: fixed; z-index: 49998;
}
.top.block-message-wrapper {
	top: 5px; visibility: visible;
}
.bottom.block-message-wrapper {
	bottom: 5px; visibility: visible;
}
.block-message-wrapper .block-message {
	padding: 14px 30px 14px 14px; text-align: left; display: inline-block; position: relative; max-width: 650px;
}
.ui-ie7 .block-message-wrapper .block-message {
	display: inline; zoom: 1;
}
.ui-ie9 .block-message {
	background-image: none !important;
}
.block-message-wrapper .block-message .close {
	top: 8px; right: 6px; float: none; position: absolute;
}
.block-message-wrapper .alert-actions a {
	margin-right: 5px;
}
.messagebox.modal-body {
	min-height: 70px; min-width: 210px;
}
.messagebox.modal-body .ui-modal-content-element {
	width: 100%; display: inline-block; position: relative;
}
.ui-ie7 .messagebox.modal-body {
	max-width: 400px;
}
.messagebox.modal-body table {
	margin: 15px; border: 0px currentColor !important; width: auto; height: 100%;
}
.messagebox.modal-body td {
	padding: 4px; border: 0px currentColor; vertical-align: middle !important;
}
.messagebox-icon {
	width: 48px; height: 48px; margin-right: 10px; float: left; background-image: url("images/sprites.png"); background-repeat: no-repeat;
}
.no-icon.messagebox.modal-body .messagebox-icon {
	display: none;
}
.info.messagebox.modal-body .messagebox-icon {
	background-position: 0px -48px;
}
.question.messagebox.modal-body .messagebox-icon {
	background-position: 0px -96px !important;
}
.prompt.messagebox.modal-body .messagebox-icon {
	background-position: 0px -96px !important;
}
.warning.messagebox.modal-body .messagebox-icon {
	background-position: 0px -144px;
}
.error.messagebox.modal-body .messagebox-icon {
	
}
.messagebox.modal-body > p {
	margin-bottom: 0px; background-color: white;
}
.messagebox.modal-body #ui-msgbox-promptbox {
	margin-top: 8px; display: none;
}
.prompt.messagebox.modal-body #ui-msgbox-promptbox {
	display: block;
}
.messagebox.modal-body .ui-prompt-error#ui-msgbox-promptbox {
	border-color: rgb(185, 74, 72); color: rgb(185, 74, 72); box-shadow: 0px 0px 6px #d59392; -moz-box-shadow: 0 0 6px #d59392; -webkit-box-shadow: 0 0 6px #d59392;
}
.ui-mobile-hscroll-wrapper {
	position: relative;
}
.ui-mobile-hscroll-left {
	left: 0px; top: 0px; position: absolute;
}
.ui-mobile-hscroll-right {
	top: 0px; width: 16px; height: 16px; right: 0px; position: absolute; background-color: blue;
}
.ui-modal-no-title {
	border: 0px currentColor; background-color: white;
}
.ui-modal .modal-footer {
	padding: 15px; text-align: center;
}
.ui-modal .ui-modal-no-buttons.modal-footer {
	padding: 5px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; box-shadow: none; background-color: white;
}
.ui-modal .modal-footer .btn {
	height: 30px; margin-right: 5px; float: none; min-width: 90px;
}
.ui-modal-html {
	width: 100%; height: 100%;
}
.ui-modal .modal-footer .btn {
	height: 30px; font-size: 16px; min-width: 90px;
}
.ui-modal .modal {
	margin: auto; border-radius: 7px; border: 1px solid rgb(51, 51, 51); width: auto; text-align: left; overflow: hidden; display: inline-block; position: static; max-height: 5000px; box-shadow: 0px 0px 10px #333; background-color: rgb(255, 255, 255);
}
.ui-modal .modal-header h3 {
	margin: 0px; padding: 10px 20px 10px 5px; color: rgb(16, 101, 150); line-height: 30px; font-family: tahoma,arial,sans-serif;
}
.ui-modal .modal-body {
	padding: 0px; display: inline-block; max-height: 5000px; background-color: white;
}
.ui-modal-ajax-error {
	padding: 50px; text-align: center; font-weight: bold;
}
.ui-modal .modal .close {
	padding: 0px 4px 1px; border-radius: 15px; border: 2px solid currentColor; top: 15px; right: 10px; color: rgb(16, 101, 150); line-height: 20px; font-size: 22px; font-weight: bold; position: absolute; cursor: pointer;
}
.ui-modal .modal .close:hover {
	background-color: rgb(238, 238, 238);
}
.ui-modal .modal-header {
	text-align: center; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.ui-modal-overlay-background {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 50000;
}
.ui-modal-overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; display: table; position: fixed; z-index: 50001;
}
.ui-modal-overlay-content-container {
	width: 100%; height: 100%; vertical-align: middle; display: table-cell;
}
.ui-modal-overlay-content {
	margin: auto; text-align: center;
}
.ui-hidden-by-modal {
	visibility: hidden;
}
.ui-multiview {
	overflow: hidden; position: relative;
}
.ui-multiview-wrapper {
	list-style: none; margin: 0px; padding: 0px; top: 0px; height: 100%; position: absolute;
}
.ui-multiview-view {
	height: 100%; float: left; display: block;
}
.pagination .disabled a {
	cursor: default;
}
.pagination a {
	text-align: center; text-decoration: none; min-width: 15px; max-width: 80px;
}
.pagination .active span {
	color: rgb(85, 85, 85); cursor: default; background-color: rgb(229, 229, 229);
}
.pagination a:hover {
	background-color: rgb(216, 255, 255);
}
.pagination .active a:hover {
	background-color: rgb(199, 238, 254);
}
.ui-pagination-arrow {
	border-width: 5px; border-style: solid; top: 12px; width: 0px; line-height: 1px; display: block; position: relative;
}
.ui-pagination-prev-arrow {
	border-color: transparent rgb(0, 105, 214) transparent transparent; left: -5px; float: left;
}
.ui-pagination-next-arrow {
	border-color: transparent transparent transparent rgb(0, 105, 214); right: -5px; float: right;
}
.pagination .disabled .ui-pagination-prev-arrow {
	border-color: transparent rgb(191, 191, 191) transparent transparent;
}
.pagination .disabled .ui-pagination-next-arrow {
	border-color: transparent transparent transparent rgb(191, 191, 191);
}
.ui-placeholder-wrapper {
	display: inline-block; position: relative;
}
.ui-placeholder {
	left: 0px; top: 0px; color: rgb(170, 170, 170); line-height: 100%; padding-left: 5px; position: absolute; z-index: 2000;
}
.popover {
	padding: 1px; border-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.2); left: 0px; top: 0px; display: none; position: absolute; z-index: 49999; box-shadow: 0px 5px 10px rgba(0,0,0,0.2); background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
.top.popover {
	margin-bottom: 10px;
}
.right.popover {
	margin-left: 10px;
}
.bottom.popover {
	margin-top: 10px;
}
.left.popover {
	margin-right: 10px;
}
.popover-title {
	margin: 0px; padding: 8px 14px; border-radius: 5px 5px 0px 0px; line-height: 18px; font-size: 14px; font-weight: normal; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(247, 247, 247);
}
.popover-content {
	padding: 9px 14px;
}
.popover-content p {
	margin-bottom: 0px;
}
.popover-content ul {
	margin-bottom: 0px;
}
.popover-content ol {
	margin-bottom: 0px;
}
.popover .arrow {
	border-width: 11px;
}
.popover .arrow {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; display: block; position: absolute;
}
.popover .arrow::after {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; display: block; position: absolute;
}
.popover .arrow::after {
	border-width: 10px; content: "";
}
.top.popover .arrow {
	left: 50%; bottom: -11px; margin-left: -11px; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px;
}
.top.popover .arrow::after {
	bottom: -1px; margin-left: -10px; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px;
}
.right.popover .arrow {
	border-width: 10px 10px 10px 0px; left: -10px; top: 50%; margin-top: -10px; border-right-color: rgb(255, 255, 255);
}
.right.popover .arrow::after {
	border-width: 11px 11px 11px 0px; left: -1px; bottom: -11px; border-right-color: rgba(0, 0, 0, 0.25);
}
.bottom.popover .arrow {
	border-width: 0px 10px 10px; left: 50%; top: -10px; margin-left: -10px; border-bottom-color: rgb(255, 255, 255);
}
.bottom.popover .arrow::after {
	border-width: 0px 11px 11px; left: -11px; top: -1px; border-bottom-color: rgba(0, 0, 0, 0.25);
}
.left.popover .arrow {
	border-width: 10px 0px 10px 10px; top: 50%; right: -10px; margin-top: -10px; border-left-color: rgb(255, 255, 255);
}
.left.popover .arrow::after {
	border-width: 11px 0px 11px 11px; right: -1px; bottom: -11px; border-left-color: rgba(0, 0, 0, 0.25);
}
.popover-inner {
	width: auto; max-width: 280px;
}
.ui-ie7 .popover-inner {
	background-color: rgb(64, 64, 64);
}
.with-close.popover .popover-title {
	padding-right: 25px;
}
.popover-title {
	display: none;
}
.popover .close {
	top: 15px; right: 15px; font-size: 18px; font-weight: bold; position: absolute; cursor: pointer; opacity: 0.4;
}
.popover .close:hover {
	opacity: 0.6;
}
.ui-ie7 .popover .close {
	filter: alpha(opacity=40);
}
.ui-ie8 .popover .close {
	filter: alpha(opacity=40);
}
.ui-ie7 .popover .close:hover {
	filter: alpha(opacity=60);
}
.ui-ie8 .popover .close:hover {
	filter: alpha(opacity=60);
}
.popover-content {
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.has-title.popover .popover-content {
	border-radius: 0px 0px 3px 3px !important; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px;
}
.popover-content p {
	padding-top: 0px; margin-top: 0px;
}
.ui-progressbar-wrapper td {
	text-align: center; vertical-align: middle;
}
#ui-progressbar-message {
	color: white; font-size: 20px;
}
.ui-progressbar-animation {
	background-position: -50px 0px; margin: auto; width: 278px; height: 30px; background-image: url("images/progress_bar.gif");
}
.ui-scrolling-div {
	position: relative;
}
.ui-scrolling-div-content {
	position: absolute !important;
}
.ui-scrolling-div-left {
	position: absolute;
}
.ui-scrolling-div-right {
	position: absolute;
}
.ui-slider {
	border-radius: 5px; height: 7px; position: relative; background-color: rgb(166, 201, 226);
}
.vertical.ui-slider {
	width: 7px; height: auto;
}
.ui-slider-thumb {
	border-radius: 8px; border: 1px solid rgb(136, 136, 136); left: -1px; top: -4px; width: 12px; height: 12px; position: absolute; cursor: pointer; background-color: rgb(230, 230, 230);
}
.ui-ie8 .ui-slider-thumb {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
}
.ui-ie9 .ui-slider-thumb {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
}
.vertical.ui-slider .ui-slider-thumb {
	left: -3px; top: 0px;
}
.ui-slider-thumb span {
	background: rgb(102, 102, 102); top: 4px; width: 4px; height: 4px; right: -4px; display: block; position: relative;
}
.ui-ie8 .ui-slider-thumb span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',endColorstr='#ffffff',GradientType=0);
}
.ui-ie9 .ui-slider-thumb span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',endColorstr='#ffffff',GradientType=0);
}
.ui-slider-thumb-selected {
	border: 1px solid rgb(26, 119, 175); box-shadow: 0px 0px 5px -1px #1a77af;
}
.ui-slider-thumb-selected span {
	background: rgb(26, 119, 175);
}
.ui-ie8 .ui-slider-thumb-selected span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A77AF',endColorstr='#ffffff',GradientType=0);
}
.ui-ie9 .ui-slider-thumb-selected span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A77AF',endColorstr='#ffffff',GradientType=0);
}
.ui-slidingcontent {
	overflow: hidden;
}
.ui-slidingcontent-box-wrapper {
	height: 100%; position: relative;
}
.ui-slidingcontent-box {
	height: 100%; position: absolute;
}
.ui-table {
	margin-bottom: 0px;
}
.ui-table th.disabled {
	color: rgb(136, 136, 136);
}
.ui-table-loading td {
	background-color: rgb(249, 249, 249) !important;
}
.ui-table-error {
	text-align: center; color: rgb(85, 85, 85); line-height: 22px; font-weight: bold; vertical-align: middle; background-image: none !important;
}
.ui-table-cell-edited {
	background-color: rgb(255, 255, 153) !important;
}
.ui-table input.ui-inline-edit {
	margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; font-family: inherit; font-size: inherit; display: block; box-shadow: none; background-color: rgb(255, 255, 153);
}
.ui-table textarea.ui-inline-edit {
	margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; font-family: inherit; font-size: inherit; display: block; box-shadow: none; background-color: rgb(255, 255, 153);
}
.ui-table-command-buttons-cell {
	text-align: center !important; vertical-align: middle !important;
}
.ui-table-command-button {
	margin-left: 5px;
}
:first-child.ui-table-command-button {
	margin-left: 0px;
}
.ui-ie8 .table-striped .ui-table-row-even td {
	background-color: rgb(249, 249, 249);
}
.ui-sortable-header {
	position: relative; cursor: pointer;
}
.ui-sortable-header:hover {
	background-color: rgb(242, 242, 242);
}
.ui-table-sort-order {
	top: 2px; width: 16px; height: 0px; right: 0px; float: right; position: relative; background-image: url("../images/glyphicons-halflings.png");
}
.headerSortUp .ui-table-sort-order {
	background-position: -288px -120px; height: 16px;
}
.headerSortDown .ui-table-sort-order {
	background-position: -312px -120px; height: 16px;
}
.ui-tabs {
	list-style: none !important; margin: 0px !important;
}
.ui-tabs li {
	margin-right: 8px; display: inline-block;
}
.ui-tabs li a {
	padding: 8px 12px; line-height: 20px; display: block;
}
.ui-tabs li.active a {
	cursor: default;
}
.ui-tabs li span {
	cursor: default;
}
.ui-tabs li a:hover {
	background-color: rgb(238, 238, 238);
}
.ui-tabs-content > div {
	display: none;
}
.ui-tree {
	list-style: none;
}
.ui-tree ul {
	list-style: none; margin-left: 15px;
}
.ui-tree li {
	line-height: 20px; position: relative;
}
.ui-tree-expand {
	border-radius: 2px; border: 1px solid rgb(187, 187, 187); left: -22px; top: 4px; width: 11px; height: 11px; text-align: center; color: rgb(136, 136, 136); line-height: 10px; font-family: courier new,sans-serif; font-size: 11px; display: block; position: absolute; cursor: pointer; background-color: rgb(242, 242, 242);
}
.ui-ie9 .ui-tree-expand {
	line-height: 12px;
}
.ui-ie10 .ui-tree-expand {
	line-height: 12px;
}
.ui-ie8 .ui-tree-expand {
	line-height: 9px;
}
.tooltip {
	line-height: 1.4; font-size: 11px; display: block; visibility: visible; position: absolute; z-index: 1030;
}
.top.tooltip {
	padding: 5px 0px; margin-top: -3px;
}
.right.tooltip {
	padding: 0px 5px; margin-left: 3px;
}
.bottom.tooltip {
	padding: 5px 0px; margin-top: 3px;
}
.left.tooltip {
	padding: 0px 5px; margin-left: -3px;
}
.tooltip-inner {
	padding: 8px; border-radius: 4px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; max-width: 200px; background-color: rgb(0, 0, 0); -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.tooltip-arrow {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; position: absolute;
}
.top.tooltip .tooltip-arrow {
	border-width: 5px 5px 0px; left: 50%; bottom: 0px; margin-left: -5px; border-top-color: rgb(0, 0, 0);
}
.right.tooltip .tooltip-arrow {
	border-width: 5px 5px 5px 0px; left: 0px; top: 50%; margin-top: -5px; border-right-color: rgb(0, 0, 0);
}
.left.tooltip .tooltip-arrow {
	border-width: 5px 0px 5px 5px; top: 50%; right: 0px; margin-top: -5px; border-left-color: rgb(0, 0, 0);
}
.bottom.tooltip .tooltip-arrow {
	border-width: 0px 5px 5px; left: 50%; top: 0px; margin-left: -5px; border-bottom-color: rgb(0, 0, 0);
}
.tooltip {
	z-index: 50010; max-width: 200px;
}
.ui-title {
	z-index: 50010; max-width: 200px;
}
.top-left.tooltip .tooltip-arrow {
	left: auto; right: 20px;
}
.bottom-left.tooltip .tooltip-arrow {
	left: auto; right: 20px;
}
.top-right.tooltip .tooltip-arrow {
	left: 20px; right: auto;
}
.bottom-right.tooltip .tooltip-arrow {
	left: 20px; right: auto;
}
.tooltip-inner {
	padding: 6px; max-width: 5000px;
}
.ui-title {
	padding: 10px; border-radius: 6px; left: -1000px; top: -1000px; line-height: 18px; font-size: 13px; display: none; position: absolute; max-width: 200px; background-color: rgba(250, 250, 140, 0.95);
}
.ui-ie8 .ui-title {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2FAFA8C,endColorstr=#F2FAFA8C);
}
.ui-title .tooltip-arrow {
	display: none;
}
.ui-title .tooltip-inner {
	padding: 0px; border: 0px currentColor; color: rgb(51, 51, 51); background-color: transparent;
}
.ui-upload-button-form {
	position: relative;
}
.ui-upload-field {
	top: 0px; width: auto !important; right: 0px; filter: alpha(opacity=0); position: absolute; cursor: pointer; opacity: 0;
}
.ui-upload-button-iframe {
	left: -1000px; top: -1000px; visibility: hidden; position: absolute;
}
.ui-virtual-scrollbar {
	overflow: hidden; position: relative;
}
.ui-virtual-scrollbar-vertical {
	padding-right: 16px;
}
.ui-virtual-scrollbar-horizontal {
	padding-bottom: 16px;
}
.ui-virtual-scrollbar-scroller {
	position: absolute; box-sizing: border-box; background-color: rgb(242, 242, 242); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.ui-virtual-scrollbar-scroller-vertical {
	padding: 16px 0px; top: 0px; width: 16px; height: 100%; right: 0px;
}
.ui-virtual-scrollbar-horizontal .ui-virtual-scrollbar-scroller-vertical {
	padding-bottom: 32px;
}
.ui-virtual-scrollbar-scroller-horizontal {
	padding: 0px 16px; left: 0px; width: 100%; height: 16px; bottom: 0px;
}
.ui-virtual-scrollbar-vertical .ui-virtual-scrollbar-scroller-horizontal {
	padding-right: 32px;
}
.ui-virtual-scrollbar-keylogger {
	top: -1000px; position: absolute;
}
.ui-virtual-scrollbar-track {
	display: block; position: relative;
}
.ui-virtual-scrollbar-scroller-vertical .ui-virtual-scrollbar-track {
	width: 16px; height: 100%;
}
.ui-virtual-scrollbar-scroller-horizontal .ui-virtual-scrollbar-track {
	width: 100%; height: 16px;
}
.clicked.ui-virtual-scrollbar-scroller {
	background: rgb(204, 204, 204);
}
.ui-virtual-scrollbar-thumb {
	border: 1px solid rgb(136, 136, 136); position: absolute; cursor: pointer; background-color: rgb(232, 232, 232);
}
.ui-virtual-scrollbar-vertical .ui-virtual-scrollbar-thumb {
	left: 1px; width: 12px; height: 20px;
}
.ui-virtual-scrollbar-horizontal .ui-virtual-scrollbar-thumb {
	top: 1px; width: 12px; height: 12px;
}
.ui-virtual-scrollbar-thumb:hover {
	background-color: rgb(208, 208, 208);
}
.ui-virtual-scrollbar-button {
	position: absolute; cursor: pointer;
}
.ui-virtual-scrollbar-scroller-vertical .ui-virtual-scrollbar-button {
	width: 16px; height: 13px;
}
.ui-virtual-scrollbar-scroller-horizontal .ui-virtual-scrollbar-button {
	width: 13px; height: 16px;
}
.ui-virtual-scrollbar-button span {
	border: 4px solid black; width: 0px; height: 0px; display: block; position: relative; cursor: pointer;
}
.ui-virtual-scrollbar-scroller:hover .disabled.ui-virtual-scrollbar-button {
	cursor: default !important;
}
.disabled.ui-virtual-scrollbar-button:hover {
	cursor: default !important;
}
.ui-virtual-scrollbar-scroller:hover .ui-scroller-button {
	margin: 0px; border: 1px solid rgb(136, 136, 136); background-color: rgb(206, 206, 206);
}
.ui-virtual-scrollbar-button:hover {
	background-color: rgb(210, 210, 210) !important;
}
.ui-virtual-scrollbar-up {
	left: 0px; top: 0px;
}
.ui-virtual-scrollbar-up span {
	border-color: transparent transparent rgb(68, 68, 68); top: 0px; right: -4px;
}
.disabled.ui-virtual-scrollbar-up span {
	border-color: transparent transparent rgb(170, 170, 170); cursor: default;
}
.ui-virtual-scrollbar-down {
	left: 0px; bottom: 0px;
}
.ui-virtual-scrollbar-horizontal .ui-virtual-scrollbar-down {
	bottom: 16px;
}
.ui-virtual-scrollbar-down span {
	border-color: rgb(68, 68, 68) transparent transparent; top: 5px; right: -4px;
}
.disabled.ui-virtual-scrollbar-down span {
	border-color: rgb(170, 170, 170) transparent transparent; cursor: default;
}
.ui-virtual-scrollbar-left {
	left: 0px; top: 0px;
}
.ui-virtual-scrollbar-left span {
	border-color: transparent rgb(68, 68, 68) transparent transparent; top: 4px; right: 0px;
}
.disabled.ui-virtual-scrollbar-left span {
	border-color: transparent rgb(170, 170, 170) transparent transparent; cursor: default;
}
.ui-virtual-scrollbar-right {
	top: 0px; right: 0px;
}
.ui-virtual-scrollbar-vertical .ui-virtual-scrollbar-right {
	right: 16px;
}
.ui-virtual-scrollbar-right span {
	border-color: transparent transparent transparent rgb(68, 68, 68); top: 5px; right: -4px;
}
.disabled.ui-virtual-scrollbar-right span {
	border-color: transparent transparent transparent rgb(170, 170, 170); cursor: default;
}
